* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

:root {
    --mainBg: rgb(30, 30, 30);
    --black: #000;
    --white: #fff;
    --gray: #ccc;
    --bg1: rgb(167, 167, 167);
    --inputBg: rgb(236, 236, 236);
    
}

html, body {
    width: 100%;
}

.mainTitle {
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: var(--mainBg);
}

.mainTitle h1 {
    color: var(--textColor);
    text-align: center;
    text-transform: uppercase;
}

.convert {
    padding: 30px;
    height: auto;
    background-color: var(--bg1)
}

.convert h1 {
    text-align: center;
    margin-bottom: 20px;
}

#convert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#convert .flexItem input {
    user-select: auto;
    margin-bottom: 10px;
    padding: 6px 5px 5px 5px;
    background-color: var(--inputBg);
    border: none;
    border-right: 1px solid var(--black);
}

#convert .flexItem span {
    background-color: var(--white);
    padding: 5px;
    border-radius: 0 10px 10px 0;
}

#convert input[type="submit"] {
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 20px;
}

#paragraphTx {
    text-align: center;
}

#paragraph, #explain {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--gray);
    width: max-content;
}